<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="60" *ngIf="loading">
    <mat-card-content class="progress">
      <mat-progress-bar color="primary" mode="indeterminate" value="50"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="60" *ngIf="!loading">
    <mat-card-header>
      <mat-card-title>
        Movies from inpercima at themoviedb
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="filterForm" fxLayout="column">
        <mat-form-field fxFlex>
          <mat-select placeholder="Choose a list" formControlName="list">
            <mat-option *ngFor="let list of lists" [value]="list.id">
              {{ list.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Filter movies" formControlName="filter">
        </mat-form-field>
        <ng-container *ngIf="movies$ | async as movies">
          <mat-list fxFlex>
            <mat-list-item *ngFor="let movie of movies">
              {{ movie.title }}<span *ngIf="movie.comment">&nbsp;({{ movie.comment }})</span>
            </mat-list-item>
          </mat-list>
        </ng-container>
      </form>
    </mat-card-content>
  </mat-card>
</div>
