<mat-toolbar fxLayoutAlign="space-between center" color="primary" class="mat-elevation-z4">
  {{ appname }}
  <button mat-button (click)="openDialog(dialog)">APP INFO</button>
</mat-toolbar>
<ng-template #dialog>
  <mat-dialog-content>
    The goal of this app is to show how to use the API for <a href="https://themoviedb.org" target="_blank">https://themoviedb.org</a> to
    load data.
    <br>
    For demonstration I use as default my own lists.
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
  </mat-dialog-actions>
</ng-template>
<etmdb-dashboard></etmdb-dashboard>
