<mat-toolbar fxLayoutAlign="space-between center" color="primary" class="mat-elevation-z4">
  {{ appname }}
  <button mat-button (click)="openDialog(dialog)">APP INFO</button>
</mat-toolbar>
<ng-template #dialog>
  <mat-dialog-content>
    A simple web app allowing users to search on The Movie Database (TMDb) by using the api.
    <br>
    For demonstration I use as default my own lists.
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
  </mat-dialog-actions>
</ng-template>
<etmdb-dashboard></etmdb-dashboard>
