<mat-card class="w-7/12 mx-auto">
  <mat-card-header>
    <mat-card-title>Options and run</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
      <div class="flex gap-5">
        <mat-form-field class="flex-1">
          <mat-label>Choose one predefined list ID or use your list ID</mat-label>
          <input type="text" matInput formControlName="listId" [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete">
            @for (list of filteredLists$ | async; track list.id) {
            <mat-option [value]="list.id">
              {{ list.title }}
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="flex-1">
          <mat-label>Language</mat-label>
          <input type="text" matInput formControlName="language" />
        </mat-form-field>
      </div>
      <div class="flex">
        <button class="flex-1" mat-raised-button color="primary" [disabled]="form.invalid">RUN/UPDATE</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

@if (loading) {
<mat-card class="w-7/12 mx-auto">
  <mat-card-content>
    <p>
      List name: {{ list?.name }}
      <br />
      List description: {{ list?.description }}
    </p>
    <form [formGroup]="filterForm" fxLayout="column">
      <div class="flex">
        <mat-form-field class="flex-1">
          <mat-label>Filter items</mat-label>
          <input matInput formControlName="filter" />
        </mat-form-field>
        @if (items$ | async; as items) { @if (items.length > 0) {
        <div>Found {{ items.length }} item(s).</div>
        } @else { No entry found. }
        <mat-list class="flex-1">
          @for (item of items; track item.title) {
          <mat-list-item>
            <mat-icon mat-list-icon>movie</mat-icon>
            <div mat-line>{{ item.title }}</div>
            <div mat-line [innerHTML]="item.comment"></div>
          </mat-list-item>
          }
        </mat-list>
        }
      </div>
    </form>
    @if (!list) {
    <mat-progress-bar color="primary" mode="indeterminate" value="50"></mat-progress-bar>
    }
  </mat-card-content>
</mat-card>
}
